In [1]:
import requests
import pandas as pd
import json
from pathlib import Path

In [3]:
response = requests.get('https://www.ncei.noaa.gov/data/local-climatological-data/access/2021/')

In [ ]:
for line in response.text.splitlines():
    if '01023199999' in line:
        print(line)
        filename = line.split('"')[1]
        link = f'https://www.ncei.noaa.gov/data/local-climatological-data/access/2021/{filename}'
        download = requests.get(link)

        output_file = Path(f"./downloads/{filename}")
        output_file.parent.mkdir(exist_ok=True, parents=True)

        with open(output_file, 'wb') as f:
            f.write(download.content)

        df = pd.read_csv(output_file)


    # if '2024-01-19 10:27' in line:
    #     print(line)

<tr><td><a href="01023199999.csv">01023199999.csv</a></td><td align="right">2024-01-19 10:27  </td><td align="right">1.0M</td><td>&nbsp;</td></tr>

In [77]:
df = pd.read_csv(output_file)

# df[df.HourlyDryBulbTemperature == df.max('HourlyDryBulbTemperature')]
print(df[df.HourlyDryBulbTemperature == df.HourlyDryBulbTemperature.max()])

      STATION                 DATE  LATITUDE  LONGITUDE  ELEVATION  \
0  1023199999  2021-09-22T12:20:00     64.35        7.8        0.0

          NAME REPORT_TYPE  SOURCE  HourlyAltimeterSetting  \
0  DRAUGEN, NO       FM-15       4                   29.62

   HourlyDewPointTemperature  ...  BackupDirection  BackupDistance  \
0                       45.0  ...              NaN             NaN

  BackupDistanceUnit  BackupElements  BackupElevation  BackupEquipment  \
0                NaN             NaN              NaN              NaN

  BackupLatitude  BackupLongitude  BackupName  WindEquipmentChangeDate
0            NaN              NaN         NaN                      NaN

[1 rows x 125 columns]

In [3]:
pd.read_csv(r'C:\Users\tooshy\Documents\gitprojects\data-engineering-practice\Exercises\Exercise-2\downloads\01023199999.csv')

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
0,1023199999,2021-09-22T12:20:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,29.62,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1023199999,2021-11-01T11:50:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,29.12,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1023199999,2021-11-05T12:20:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,29.53,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1023199999,2021-11-05T12:50:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,29.53,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1023199999,2021-11-05T13:20:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,29.53,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2138,1023199999,2021-12-20T06:20:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,30.39,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2139,1023199999,2021-12-20T06:50:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,30.39,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2140,1023199999,2021-12-20T07:20:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,30.39,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2141,1023199999,2021-12-20T07:50:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,30.39,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2142,1023199999,2021-12-20T08:20:00,64.35,7.8,0.0,"DRAUGEN, NO",FM-15,4,30.39,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df.columns[:20]

Index(['STATION', 'DATE', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'NAME',
       'REPORT_TYPE', 'SOURCE', 'HourlyAltimeterSetting',
       'HourlyDewPointTemperature', 'HourlyDryBulbTemperature',
       'HourlyPrecipitation', 'HourlyPresentWeatherType',
       'HourlyPressureChange', 'HourlyPressureTendency',
       'HourlyRelativeHumidity', 'HourlySkyConditions',
       'HourlySeaLevelPressure', 'HourlyStationPressure', 'HourlyVisibility'],
      dtype='object')